---
import type { iconsType } from 'astro-pure/types'
import { Icon } from 'astro-pure/user'
import { cn } from 'astro-pure/utils'

interface Project {
  image?: {
    src: string
    alt: string
    width: number
    height: number
  }
  name: string
  description: string
  links: {
    type: string
    href: string
  }[]
}

interface Props {
  class?: string
  projects: Project[]
}

const { class: className, projects, ...props } = Astro.props

const projectIconSet: Record<string, iconsType> = {
  github: 'github-circle',
  site: 'earth',
  doc: 'document',
  release: 'package'
}
---

<div class={cn('grid grid-cols-1 gap-x-4 gap-y-3 sm:grid-cols-2 sm:gap-y-4', className)} {...props}>
  {
    projects.map((project) => (
      <div class='group/card relative overflow-hidden rounded-2xl border bg-background flex flex-col px-4 py-3 transition-colors ease-in-out hover:bg-muted'>
        {project.image && (
          <img
            class='cover-image absolute end-0 top-0 z-0 h-full w-3/5 object-cover opacity-50 transition-opacity duration-300 group-hover/card:opacity-70'
            src={project.image.src}
            alt={project.image.alt}
            width={project.image.width}
            height={project.image.height}
            loading='lazy'
          />
        )}

        <div class={cn('relative z-10 flex flex-col gap-y-1.5', project.image && 'w-3/5')}>
          <div class='line-clamp-1 font-medium text-foreground'>
            {project.name}
          </div>

          <p class='line-clamp-2 text-sm leading-snug text-muted-foreground'>
            {project.description}
          </p>

          <div class='flex flex-row items-center gap-x-2 pt-0.5'>
            {project.links.map((link) => {
              const icon = projectIconSet[link.type]
              return (
                <a
                  href={link.href}
                  class='rounded-full bg-muted p-1 text-muted-foreground transition-colors hover:text-foreground'
                  aria-label={link.type}
                  target='_blank'
                >
                  <Icon class='size-4' name={icon} />
                </a>
              )
            })}
          </div>
        </div>
      </div>
    ))
  }
</div>

<style>
  .cover-image {
    mask-image: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);
    -webkit-mask-image: -webkit-linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);
  }
</style>